<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>TomsList</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/styles.css">              <!-- My entire site is styled with bootstrap -->
</head>
<body>
<div class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="/posts">TomsList</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav ml-auto">
    	<a class="nav-link" href="/posts/profile">My Account</a>
        <a class="nav-link" href="/posts/new">Create Ad</a> 
        <a class="nav-link" href="/posts/logout">LogOut</a>    
    </div>
  </div>
</nav>
