<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>TomsList</title>
	<link rel="stylesheet" href="/css/bootstrap.css">              <!-- My entire site is styled with bootstrap -->
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">

<div class="jumbotron">
  <h1 class="display-4" style="color: blue" id="maintitle">TomsList</h1>
  <p class="lead">Welcome to my app that allows users to post, edit, and delete for-sale ads. There will be categories in which the user can choose to that corresponds to the item they are selling. Ads will feature a title, price, and a small map that shows the general vicinity the item is located along with several pictures if the user chooses to do so.</p>
  <hr class="my-4">
  <p>All users must sign in OR sign up in order to view.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
  </p>
</div>

<% include ./partials/footer.ejs %>