.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-brand {
	color: white;
}

li {
	list-style-type: none;
}

#maintitle {
	font-weight: bold;
	text-decoration: underline;
}

.display-4 {
	color: blue;
	font-weight: bold;
}

#dropdownMenuButton {
	background: red;
}
