<% include ../partials/boilerplate.ejs %>

<h1> this is the posts page </h1>

<ul>
	<% data.forEach( (post) => { %>
		<li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
	<% }) %>
</ul>

<% include ../partials/footer.ejs %>