<% include ../partials/boilerplate.ejs %>

<h1> create an ad </h1>
<h5> <%=data.id%> </h5>

<form method = "POST" action = "./new">
	
	<input name="user_id" type="hidden" value="<%=data.id%>" placeholder="userID" />

	  <select name="cat_id">  
  	<% cat.forEach(category => { %>
 	 	<option value="<%=category.id %>" selected> <%=category.catname %> </option> 
 	 <% }) %>
 	  </select>
 	<input name="title" type="text" placeholder="title" />
 	<input name="price" type="number" placeholder="price" />
 	<input name="content" type="text" placeholder="content" />
 	<input name="imgurl" type="text" placeholder="image url" />
 	<input name="location" type="number" placeholder="location" />
	<input type="submit" value="Add" />
</form>

<% include ../partials/footer.ejs %>