<% include ../partials/boilerplate.ejs %>
<br>
<h1 class="display-4"> Post a new ad </h1>
<br>
<h5> Current User: <mark style="color: aqua; background: green"><%=data.username%></mark> </h5>
<br>
<form method = "POST" action = "./new">

  <input name="user_id" type="hidden" value="<%=data.id%>" placeholder="userID" />

  <div class="form-group">
    <label for="exampleFormControlSelect1">Category</label>
    	<select class="form-control" id="exampleFormControlSelect1" name="cat_id">  
  			<% cat.forEach(category => { %>
 	 			<option value="<%=category.id %>" selected> <%=category.catname %> </option> 
 	 		<% }) %>
 		 </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Ad title</label>
    <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="title"/>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Price</label>
    <input type="number" name="price" class="form-control" id="exampleFormControlInput1" placeholder="price"/>
    <small class="form-text text-muted" style="color: #ff0000 !important">** Required</small>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea type="text" name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Image URL</label>
    <input type="text" name="imgurl" class="form-control" id="exampleFormControlInput1" placeholder="image url"/>
    <small class="form-text text-muted">* Please post url to image</small>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Location (zipcode)</label>
    <input type="number" name="location" class="form-control" id="exampleFormControlInput1" placeholder="location"/>
    <small class="form-text text-muted" style="color: #ff0000 !important">** Required</small>    
  </div>

  <input type="submit" class="btn btn-primary">

</form>
<br>
<% include ../partials/footer.ejs %>