<% include ../partials/boilerplate.ejs %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">
                         <% if (data.length) { %>
                               <%= data[0].catname %>
                         <% } else { %>
                                No posts available
                         <% } %>

                          <%#= (data.length > 0) ? data[0].catname : 'No items available' %>
    </h1>
    
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    
    <a class="dropdown-item" href="/posts/categories/1">Clothing</a>
    <a class="dropdown-item" href="/posts/categories/2">Electronics</a>
    <a class="dropdown-item" href="/posts/categories/3">Appliances</a>
    <a class="dropdown-item" href="/posts/categories/4">Automobile</a>
    <a class="dropdown-item" href="/posts/categories/5">Misc</a>

  </div>
</div>

<br>

  <ul class="list-group">
	<% data.forEach( (post) => { %>
		<li><a href="/posts/<%= post.id %>" class="list-group-item list-group-item-action"><%= post.title %></a></li>
	<% }) %>
  </ul>

  </div>
</div>


<% include ../partials/footer.ejs %>